<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.walkingpark">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".di.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WalkingPark">

        <activity
            android:name=".permission_check.PermissionActivity"
            android:exported="false" />

        <service
            android:name="com.example.walkingpark.components.foreground.service.ParkMapsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.WalkingPark.NoActionBar" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 공공데이터 포털 키 -->
        <meta-data
            android:name="public.data.api.key"
            android:value="TLS0MThLQlr78HC0JKyrzvIe%2BbCikvgPxn569VLUQchowv5VxrAHhaNoOTK%2B%2BsBH7J4ASrbJaSc9bnziMu2K3A%3D%3D" />
        <!-- Google Maps Api 키 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGahDW2n2Hgis5pPpx_y3wQHwHlM6-J-A" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- google.maps 16.0.0 이하를 사용하고, targetApi Level 28 이상인 경우 다음 선언 추가 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />
    </application>

</manifest>